<div class="row">
  <div class="well text-center">
    <% if params[:plan] == '2'  %>
      <h1>Pro Account</h1>
      <p>Sign up for the Pro Account and receive access to exclusive deals and resources for $10 per Month.</p>
    <% else %>
      <h1>Basic Account</h1>
      <p>Sign up for free and receive access to the community and specials.</p>
    <% end %>
    </div>
    <div class="well col-md-4 col-md-offset-4">
        <h2>Sign Up</h2>
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>