<div class="jumbotron text-center">
    <h2>Welcome to My2Daughters.com</h2>
    <h3>Hand Crafted Products</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Sign up for free for basic access to the site.</h4>
            <br />
            <%= link_to "Sign Up with Basic", new_user_registration_path, class: ' btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>